# Virtual environment
venv/

# Python
__pycache__/
*.pyc

# AWS
.aws/

# IDE
.vscode/
.idea/

# Spark output
silver_output/

# Airflow
airflow/logs/

# Environment
.env
.env.*

# Operating System
.DS_Store
Thumbs.db